
body {height:100%; overflow:hidden;}
.scene{height: 100%; position : relative}



.title_weekly {
  font-family: on;
  font-size:40px;
    position: absolute;
    top: 3%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgb(39, 39, 39);
    z-index: 1;
  }

  .background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../../../public/week_BG.png');
    background-size: auto 100%;
    z-index: 0; /* 추가된 부분 */
  }
  
  
  .pannel_weekly{
    position: absolute;
    top: 120px;
    height: 80%;
    width: 100%;
    z-index: 0;
  }
  
  .chick1{
    position: absolute;
    padding-right: 10%;
    top:3%;
    left: 18%; 
    transform: scale(0.6);
    z-index: 0;
  }


  .chick2{
    position: absolute;
    padding-left: 45%;
    top:3%;
    transform: scale(0.6);
    z-index: 0;
  }

  /*스탬프*/
  .input {
    position: absolute;
    left: 10%;
    width: 80%;
    transform: translate(-50%, -50%);
  }
  
  .howMuchStamp{
    position: absolute;
    top:10px;
    z-index:1;
  }

  .balloon_weekly {
    position: relative;
    top: 20px; /* 말풍선 위치 조절 */
    left: 80%;
    transform: translateX(-50%);
    background: #fff;
    border: 2px solid #000;
    border-radius: 40px;

    width: 150px; /* 말풍선 크기 조절 */
    height: 60px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-family: "on";
    font-size:20px;
    z-index: 1;
  }
  
  .balloon_weekly::after {
    content: '';
    position: absolute;
    top:56px;
    left: 24%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent; 
    display: block;
    width: 0;
    z-index: 1;
  }
  
  /*말풍선 테두리*/
  .balloon_weekly::before {
    content: '';
    position: absolute;
    top:57px;
    left: 24%;
    transform: translateX(-50%);
    border-width: 12px;
    border-style: solid;
    border-color: #000 transparent transparent transparent; 
    display: block;
    width: 0;
    z-index: 1;
  }
  
  .balloon p {
    margin: 0;
  }

  /*포인트 획득 css 추가 */
.modal-backdrop {
  font-family: on;
  font-weight: normal;
  font-size: 25px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-backdrop h2{
  color:rgb(255, 0, 225);
  
}

.modal-get-point {
  background-color: rgb(255, 247, 0);
  font-weight: normal;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width:300px;
}



 @font-face {
    font-family: "on";
    font-weight: 50;
    src: url("../../fonts/온글잎 밑미.ttf");
}