
.modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .all-section{
        width: 100%;
        height: 100%; /* 전체 화면의 절반 */
        top: 20px;
        
        background-color: rgb(170, 112, 112); 
        background-image: url('../image/what.jpeg');
        background-repeat: no-repeat;
        background-size: contain;
        
        
        overflow-y: auto;
        overflow-x: hidden;
      }
      

  .middle-section{
    width: 65%;
    height: 60%; /* 전체 화면의 절반 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
    background-color:burlywood; 
    margin-left: 40px; /* 왼쪽 여백 추가 */
  
  }
  
  .modalContent {
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 500px; /* 모달의 폭 */
    height: 800px;
    max-width: 90%; /* 화면 크기에 따라 최대 폭 제한 */
    overflow-y: auto;
  }
  
  h2 {
    margin-top: 35px; /* 위쪽 여백 추가 */
    margin-left: 20px; /* 왼쪽 여백 추가 */
    text-align: center;
      
  }

  .container {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    margin-left: 30px; /* 왼쪽 여백 추가 */
  }
  
  .text {
    margin-right: 200px; /* 텍스트와 이미지 사이의 간격 조정 */
  }
  .flower {
    width: 20px; /* 이미지의 너비를 10px로 설정 */
    height: 20px; /* 이미지의 높이를 10px로 설정 */
  }
  
  
  .closeButton {
    float: right;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .slideImage {
    width: 300px; /* 너비를 200px로 설정 */
    height: auto; /* 높이를 자동으로 조정 */
    object-fit: cover;
  }
  


  .buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* 버튼 스타일 */
  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #70869e;
  }
  