
.modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .all-section{
        width: 100%;
        height: 80%; /* 전체 화면의 절반 */
        top: 20px;
        
        background-color: beige; 
        background-image: url('../image/what.jpeg');
        background-repeat: no-repeat;
        background-size: contain;
        
        
        overflow-y: auto;
        overflow-x: hidden;
      }
      

  .middle-section{
    width: 60%;
    height: 50%; /* 전체 화면의 절반 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
    background-color:burlywood; 
    margin-left: 50px; /* 왼쪽 여백 추가 */
  
  }
  
  .modalContent {
    background-color: beige;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 500px; /* 모달의 폭 */
    height: 800px;
    max-width: 90%; /* 화면 크기에 따라 최대 폭 제한 */
    overflow-y: auto;
  }
  /*사용설명서 텍스트*/
  h2 {
    margin-top: 25px; /* 위쪽 여백 추가 */
    margin-left: 20px; /* 왼쪽 여백 추가 */
    text-align: center;
      
  }
  .on{
    font-family: "on";
    font-size:40px ;
  color: rgb(119, 73, 73); /* 로고의 색상 */
  }
/*모달 창에 있는 버튼이랑 이미지 슬라이드 세로로 정렬하기 위한 컨테이너*/
  .slide-button-box{
    width: 100%;
    height: 100%;
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 자식 요소들을 세로로 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
  }

 
  /*모달 창 안 버튼*/
  .click{
    margin-top: 8px;
    margin-right: 150px;
    margin-left: 50px;
    background-color: #ead899;
    font-family: "on";
    border-radius: 10px;
    
  }
 
 

/* Flexbox를 사용하여 세로 중앙 정렬 */
.vertical-align {
  width: 100%;
  height: 100%;
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 자식 요소들을 세로로 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  justify-content: center; /* 세로 중앙 정렬 */
}


/*꽃이랑 페이지 이름*/
.container {
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 자식 요소들을 세로로 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  width: 600px;
  top:-100px;
  margin-left: 80px; /* 왼쪽 여백 추가 */
}

/* 꽃 이미지와 텍스트를 가로로 정렬하기 위한 새로운 클래스 추가 */
.flower-text-container {
  display: flex; /* Flexbox 사용 */
  flex-direction: row; /* 자식 요소들을 가로로 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
}
  
  .text {
    font-size: 30px;
    color: rgb(119, 73, 73);
    margin-right: 200px; /* 텍스트와 이미지 사이의 간격 조정 */
    font-family: "on";
  }
  .flower {
    width: 20px; /* 이미지의 너비를 10px로 설정 */
    height: 20px; /* 이미지의 높이를 10px로 설정 */
  }
  
  /*이미지 슬라이드*/
  .slideImage {
    width: 300px; /* 너비를 200px로 설정 */
    height: 380px; /* 높이를 자동으로 조정 */
    position:relative;
    padding-right: 100px;
    
  }

  .flower-notice-box{
    display: flex; /* Flexbox 사용 */
    flex-direction: row; /* 자식 요소들을 가로로 정렬 */
  }

  .tip-container{
    width: 100%;
    height: 360px;
    background-color: beige;
    
    
 
  }
  .notice{
    color: #901927;
    font-family: "on";
    font-size: 50px;
  }

  .tip{
    top:100;
    font-family: "on";
    font-size:30px;
    color: rgb(119, 73, 73);
    justify-content: space-between;
    margin-top: 10px;/*위쪽 여백 추가*/
    margin-left: 10px; /* 왼쪽 여백 추가 */
  }
  
  /*엑스 버튼*/
  .closeButton {
    float: right;
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
  }



 /* 버튼 */
  .buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
 
  .button {
    background-color: #ead899;
    font-family: "on";
    font-size:18px;
    color: black;
    border: 2px solid black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .button:hover {
    background-color: #70869e;
  }

  /*폰트*/
  @font-face {
    font-family: "on";
    font-weight: 50;
    src: url("../../fonts/온글잎 밑미.ttf");
  }

  
  