.Seed {
  display: flex;
  flex-direction: column;
  align-items: center; /* 중앙 정렬을 원한다면 추가 */
}


.modal {
  
  background-color: #C8A776;
  color: white;
  padding: 20px;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
h5{
font-family: "np";
color: black;
 font-size: 20px;
}


.seed-list-item {
  
  display: flex;
  align-items: center;
  gap: 10px; /* 텍스트와 이미지 사이의 간격 */
  cursor: pointer;
  padding: 10px;
  font-family: np;
  color: black;

 
}

.seed-list-item:hover {
  background-color: #d9b682;
}

.seed-image-container {
  border-radius: 5px;
  width: 50px; 
  height: 50px; 
  background-color: white; 
  border: 1px solid #ddd; /* 사각형 테두리 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.seed-image {
  max-width: 100%;
  max-height: 100%;
}

.seed-plant-animation {
  animation: plantSeed 0.5s forwards;
}

@keyframes plantSeed {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes plantSeedAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}

.seed-planted {
  animation: plantSeedAnimation 1s ease-in-out forwards;
}

@keyframes sproutAnimation {
  from {
    transform: scale(1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.sprout {
  width: 50px;
  animation: sproutAnimation 0.5s ease-in-out forwards;
}

.reward-tree {
  width: 100px;
}

.reward-tree + button {
  display: block;
  margin-top: 10px;
}

.plantbutton{
  background-image: url('../image/seedsign.png');
  width: 100px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #def0a0;

}

.moneybutton{
  background-image: url('../image/bagsign.png');
  background-color: #def0a0;
  width: 100px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: contain;

}

.button-hover{
  background-color: #def0a0;
}

.sign-container {
  display: flex;
  justify-content: center; /* 중앙 정렬을 원한다면 추가 */
  gap: 60px; /* 버튼 사이의 간격 조정 */
}


/* 씨앗 이미지 크기 조절 */
.seed-planted {
  width: 50px; /* 원하는 크기로 조절 */
  height: auto;
}

.sprout {
  width: 100px; 
  height: auto;
}

/* 꽃 이미지 크기 조절 */
.flower5 {
  width: 100px; 
  height: 90px;
}

/* 나무 이미지 크기 조절 */
.tree {
  width: 150px; 
  height: 120px;
}

/* 보상 열린 나무 이미지 크기 조절 */
.reward-tree {
  width: 100px; 
  height: auto;
}