body {height:100%; overflow:hidden;}
.scene{height: 100%; position : relative}


.background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../image/background_shop.png');
    background-size: auto 100%;
    z-index: 0; 
  }


.title{
    position: absolute;
    left: 20%;
}

.chick4{
    position: absolute;
    padding-right: 10%;
    top:0%;
    left:2%; 
    transform: scale(0.55);
    z-index: 0;
  }

  .pointBox{
    position: absolute;
    padding-right: 90%;
    top:-24%;

    transform: scale(0.3);
    z-index: 0;
  }
  .point-display {
    position: absolute;
    top: 3.3%;
    left: 89%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
  }

  .items{
    display: flex;
    position: absolute;
    top: 50%;
  }

  .modal{
    position: absolute;
  }

