
.myPage{
    display: flex;
    background-image: url('../../../public/myPage_background.png');
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 3px solid rgb(96, 96, 96);
  }
  
  div{
    box-sizing: border-box;
  }
  
  .profile{
    position:relative;
    top: 1px;
    background: rgba(255, 255, 255, 0.753);
    height: 250px;
    padding-right: 5px;
    border-bottom: 3px solid gray;
  }
  
  
  .medicine_title{
    text-align: left;
    padding-left: 20px;
    border-bottom: 3px solid gray;
  }
  
  .medicine_list{
    position:relative;
    left: -20px;
    background-color:#FFFFFF;
    border: none;
    border-bottom: 3px solid black;
    padding-left: 20px;
    text-align: left;
    width: 570px;
    cursor: pointer;
  }
  
  .delete_button{
    position: absolute;
    right:60px;
    top: 7px;
    width: 40px;
    height: 35px;
    background-image: url('../../../public/delete_button.png');
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center; 
    border: 3px solid rgb(107, 107, 107);
    cursor: pointer;
    background-color: white;
  }

  .name_setting{
    margin-left: 220px;
  }

  .alarm_setting{
    margin-left: 250px;
  }

  .switch {
    float: right;
    margin-right: 100px;
  }

  .profile_input{
    background-color:rgba(255, 255, 255, 0.805);
    border: 3px solid rgb(97, 150, 115); 
    border-radius: 5px; 
    padding: 5px; 
    font-size: 17px;
    text-align: center;
    width: 140px;
  }

  .profile_input_button{
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: rgb(79, 135, 79);
    color: #FFFFFF; /* 흰색 */
    border: 3px solid rgb(79, 135, 79);
    border-radius: 10px; 
  }