.myPage{
  position: relative;
  width: 100vw;
  height: 100vw; /* 부모 요소의 고정된 높이 */
}


.myPage_top{
    display: flex;
    background-image: url('../../../public/myPage_background.png');
    width: 100%;
    height: 17%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  div{
    box-sizing: border-box;
  }

  /*프로필 밑에 나누는 선*/
  .profile{
    background: rgba(255, 255, 255, 0.753);
    height: 70%;
    padding-right: 4%;
    border-bottom: 3px solid #8CD7F2;
  }
  
  /*프로필 이미지*/
  .profile_image{
    position:absolute;
    width: 40%;
    height:40%;
    left: 5%;
    top: 20%;
  }


   
  .name_setting{
    position: absolute;
    top:20%;
    font-size:large;
  }

  /*우리 아이 이름*/
  .text_setting h3{
    position:absolute;
    top:20%;
    left:50%;
    font-size:30px;
    font-family: on;
    color:#494949;
  }

  /*알람설정 텍스트*/
  .text_setting h2{
    font-size:25px;
    font-family: on;
    position:absolute;
    left: 53%;
    top: 45%;
    color:#494949;
  }

  /*알람 설정 버튼*/
  .button_alarm_myPage{
    position: absolute;
    top:50%;
    left:80%;
  }

  .profile_input{
    position: absolute;
    top: 33%;
    left:50%;
    background-color:rgba(255, 255, 255, 0.805);
    border: 3px solid #8CD7F2; 
    border-radius: 15px; 
    padding-right:10%;
    font-size: 40px;
    text-align: center;
    width: 40%;
    height: 10%;
  }

  /*이름 수정 버튼*/
  .profile_input_button{
    position: absolute;
    width:18%;
    height:10%;
    left: 80%;
    top:33%;
    background-color: #8CD7F2;
    color: #FFFFFF; /* 흰색 */
    border: 3px solid  #8CD7F2;
    border-radius: 10px;
    cursor: pointer;
    font-size:20px;
  }

  .alarm_text{
    position: absolute;
  }

  .switch {
    float: right;
    margin-right: 70%;
  }
  
  /*약 목록*/
  .medicine_title h2{
    font-family: on;
    font-size: 35px;
    color:#494949;
    position: absolute;
    left:-90%;
    bottom: -3%;
    top:85%;
    width: 200%;
    height:12%;
    border-bottom: 3px solid#8CD7F2;
  }

  .title{
    padding-right:40%;
  }
  
  .medicine_list{
    position: relative;
    background-color:#ffffff;
    color: black;
    border: none;
    border-bottom: 3px solid  #8CD7F2;
    width: 110%;
    height: 8vh;
    left:-8%;
    text-align:left;
    padding-left: 5%;
    padding-bottom: 14%;
    cursor: pointer;
  }

  
  .list_setting{
    list-style-type: none;
  }


  .delete_button{
    position: absolute;
    left: 85%;
    bottom:0%;
    width: 8%;
    height: 100%;
    background-image: url('../../../public/delete_button.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 
    border: none;
    cursor: pointer;
    background-color: white;
  }


  .add_list_button{
    position: relative;
    left: 45%;
    bottom:-15%;
    cursor: pointer;
  }


  .btn_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  
  .modal_close_button{
    position: absolute;
    bottom: 40%;
    right:43%;
    background-color: rgb(126, 197, 255);
    color: #FFFFFF; /* 흰색 */
    border: 3px solid  rgb(126, 197, 255);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .modal_container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
  /*모달 스타일 지정*/
  .modal_content {
    background-color: #ffffff;
    border: 3px solid  rgb(126, 197, 255);
    border-radius: 10px;
    width: 50%;
    height: 28%;
    padding: 15px;
  }

  .modal_content h3{
    font-family: on;
    font-size:25px;
    color:#494949;
  }

  .modal_input {
    position: relative;
    background-color:rgba(240, 240, 240, 0.805);
    left:10%;
    bottom: 5%;
    border: 3px solid #7dd1f0; 
    border-radius: 5px; 
    padding: 3%; 
    font-size: 17px;
    text-align: center;
    width: 70%;
  }

  .modal_text{
    position:relative;
    bottom: 5%;
    left: 5%;
    color:#395b68;
  }