
input[type="number"] {
    width: 50px; /* 원하는 가로 너비로 조정 */
  }

/*배경 이미지*/
.background3{
    display: flex;
    background-image: url('../../../public/info3_background.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 95%;
    position: absolute;
    top: 60px; /* 원하는 위치로 조정 */
    left: 53%;
     transform: translateX(-50%);
}


  /*시간 설정 모달창*/
  .modal_info3{ 
    font-size: 15px;
    position: absolute;
    width: 400%;
    height: 20%;
    top:20%;
    left:20%;
  }
  /*모달 제목 "시간설정*/
  .modal_info3 label{
    font-size: 10px; /* 글꼴 크기 */
    margin-right : 10px;
  }

  /*모달 요소들*/
  .modal-content {
    background: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 5px;
    text-align: center;
  }

  .modal-content select,
  .modal-content input {
    margin: 5px;
    left: 10%;
    background-color: #c2c2c2;
    font-size: 12px; /* 글꼴 크기 */
  }
  
  /*알람 설정 버튼들*/
  .alarmset{
    position: absolute;
    top:23%;
    left:10%;
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    gap:20px;
  }

.modal-content h5{
  font-family: "on";
  font-size: 20px;
  color:#82d1ff;
  text-align: center;
}
  
.setTime{
  display:felx;
}

.modal-content select,
.modal-content input {
  margin: 5px;
}

.confirm button{ /*이대로 설정!*/
  font-family: on;
  background-color: #82d1ff;
  border: none; /* 테두리 제거 */
  border-radius: 20px; /* 둥근 모서리 */
  padding: 10px 20px; /* 내부 여백 */
  font-size: 25px; /* 글꼴 크기 */
  cursor: pointer; /* 마우스 커서를 포인터로 변경하여 버튼임을 나타냄 */
  color:#ffffff ;
  position: absolute;
  top: 70%;
  left: 10%;
}

.deny button{ /*알람을 설정하지 않을래요*/
  position: absolute;
  top: 78%;
  left: 10%;
  background-color: #c2c2c2;
  font-size: 15px; /* 글꼴 크기 */
  font-family: on;
    border: none; /* 테두리 제거 */
    border-radius: 20px; /* 둥근 모서리 */
    padding: 10px 20px; /* 내부 여백 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 버튼임을 나타냄 */
    color:#ffffff ;
}

@font-face {
  font-family: "on";
  font-weight: 50;
  src: url("../../fonts/온글잎 밑미.ttf");
}