
/*병아리 관련 css*/
.start-page {
  position: relative;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(255, 255, 255);
  
}

.chick{
  position: fixed;
  bottom: 0;
  width: auto;
  animation: jumpUp 0.5s ease forwards;
}

@keyframes jumpUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0%);
  }
}

/*물방울 관련 css*/
@keyframes dropAnimation {
  0% {
    top: 10%; /* 시작 위치 */
  }
  100% {
    top: 90%; /* 끝 위치, 화면 하단까지 내려오도록 설정 */
  }
}




  .drop {
    width: 40px; 
    height: 40px; 
    background-image: url('./drop.png'); 
    background-size: cover; 
    border-radius: 50%; 
    position: fixed;
    top: 10%;
    bottom: 100%;
    z-index: 10;
    overflow: hidden; /* 화면 바깥으로 나가는 물방울은 숨김 */
    animation: dropAnimation 5s linear infinite; /* 애니메이션 지속 시간 및 반복 설정 */
  }
  


/*로고 관련 css*/
.logo {
  font-size: 2rem; /* 로고의 크기 조절 */
  color: rgb(119, 73, 73); /* 로고의 색상 */
  position: absolute; /* 로고의 위치를 절대적으로 설정 */
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); /* 정확한 중앙 정렬을 위해 위치 조정 */
  z-index: 20; /* 물방울보다 상위에 위치하도록 z-index 설정 */
}

/*물울덩이 관련 css*/
.puddle {
  width: 100%; /* 이미지 너비 조정 */
  height: auto; /* 이미지 높이를 자동으로 설정하여 비율을 유지 */
  position: absolute;
  top: 0; /* 화면 상단에 위치 */
  right: 0;
  z-index: 5;
}


