
.start-page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(183, 130, 59);
}

.chick-animation {
  animation: jumpUp 0.5s ease forwards;
}

@keyframes jumpUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}


  