
/* 레이아웃 관련 css */
.start-page {
  position: relative;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: flex-end;
 
  flex-direction: column;
  
}
.top-section{
  width: 100%;
  height: 30%; /* 전체 화면의 절반 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
  background-color:white; 

}
.middle-section{
  width: 100%;
  height: 30%; /* 전체 화면의 절반 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
  background-color:white; 

}
.bottom-section{
  width: 100%;
  height: 40%; /* 전체 화면의 절반 */
  overflow: hidden; /* 내용이 넘칠 경우 숨김 처리 */
  background-color: white; 
}



/* 로고 폰트*/
@font-face {
  font-family: "Continuous";
  font-weight: 50;
  src: url("../../fonts/continuous.ttf");
}

/*로고 관련 css*/
.logo {
  font-family: "Continuous";
  font-size: 500%; /* 로고의 크기 조절 */
  color: rgb(119, 73, 73); /* 로고의 색상 */
  position: fixed; /* 로고의 위치를 절대적으로 설정 */
  top: 45%;
  bottom: 10%;
  left: 50%;
  right: 15%;
  transform: translate(-50%,-50%); /* 정확한 중앙 정렬을 위해 위치 조정 */
  z-index: 20; /* 물방울보다 상위에 위치하도록 z-index 설정 */
 
}



/*병아리 관련 css*/
.chick{
  position: absolute;
  left:0;
  bottom: 0;
  width: 500px;
  animation: jumpUp 0.5s ease forwards;
}

@keyframes jumpUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0%);
  }
}


/*물울덩이 관련 css*/
.ocean {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../image/blue.png')
}

.wave {
  background: url('../image/puddle.png') repeat-x;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 250px;
  transform: translate3d(0, 0, 0);
  z-index: 10; 
  animation: wave 5s linear infinite, swell 10s ease-in-out infinite;
}

@keyframes wave {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-50px, 0, 0); }
}

@keyframes swell {
  0%, 100% { transform: translate3d(0, -25px, 0); }
  50% { transform: translate3d(0, 5px, 0); }
}

.puddle-top-box {
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  height: 5px; 
  background-color: #afd7fd; 
  z-index: 1; 
}

/* 알약 관련 css */
.pill1 { left: 10px; top: 500px; }
.pill2 { left: 10px; top: 450px; }
.pill3 { left: 30px; top: 450px; }
.pill4 { left: 20px; top: 500px; }









