
/* NavigationBar.css */
.bottom-nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -2px 5px rgba(25, 44, 16, 0.1);
  font-family: "on";
  

}

.nav-item {
  padding: 10px 15px;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

  
  